/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";


@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  // font-display: swap;
  src: url('./assets/fonts/Montserrat.ttf');
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
